In [2]:
import matplotlib.pylab as plt
import numpy as np
import pandas as pd
from keras.datasets import boston_housing
from keras.models import Sequential
from keras.layers import Dense

Using TensorFlow backend.

In [ ]:
data = pd.read_csv('b1.csv',sep=';')
data.head()
#close_price = data.ix[:, 'price'].tolist()
#plt.plot(close_price)
#plt.show()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>id</th>
      <th>time</th>
      <th>token</th>
      <th>order</th>
      <th>order_price</th>
      <th>order_volume</th>
      <th>price</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>7404601</td>
      <td>2018-02-14 10:22:21</td>
      <td>OMGBTC</td>
      <td>bid</td>
      <td>0.001586</td>
      <td>34.69</td>
      <td>0.001586</td>
    </tr>
    <tr>
      <th>1</th>
      <td>7404602</td>
      <td>2018-02-14 10:22:21</td>
      <td>OMGBTC</td>
      <td>bid</td>
      <td>0.001583</td>
      <td>96.83</td>
      <td>0.001586</td>
    </tr>
    <tr>
      <th>2</th>
      <td>7404603</td>
      <td>2018-02-14 10:22:21</td>
      <td>OMGBTC</td>
      <td>bid</td>
      <td>0.001582</td>
      <td>116.19</td>
      <td>0.001586</td>
    </tr>
    <tr>
      <th>3</th>
      <td>7404604</td>
      <td>2018-02-14 10:22:21</td>
      <td>OMGBTC</td>
      <td>bid</td>
      <td>0.001581</td>
      <td>466.89</td>
      <td>0.001586</td>
    </tr>
    <tr>
      <th>4</th>
      <td>7404605</td>
      <td>2018-02-14 10:22:21</td>
      <td>OMGBTC</td>
      <td>bid</td>
      <td>0.001580</td>
      <td>214.80</td>
      <td>0.001586</td>
    </tr>
  </tbody>
</table>
</div>

In [6]:
dh = data
data2 = {}
print(dh.index)
for t in dh.index:
    if data2.get(dh['token'][t],'jjj')=='jjj':
        data2[dh['token'][t]]=[]
    data2[dh['token'][t]].append(dh['price'][t])
data3 = data2['ENJBTC']

RangeIndex(start=0, stop=7404800, step=1)

In [7]:
print(data3[:10])

[1.8110000000000001e-05, 1.8110000000000001e-05, 1.8110000000000001e-05, 1.8110000000000001e-05, 1.8110000000000001e-05, 1.8110000000000001e-05, 1.8110000000000001e-05, 1.8110000000000001e-05, 1.8110000000000001e-05, 1.8110000000000001e-05]

In [9]:
f = open('b2.csv','w')
f.write(';'.join([str(e) for e in data3]))
f.close()

In [3]:
data3 = pd.read_csv('b2.csv',sep=';')
data3.head()

In [21]:
(x_train, y_train), (x_test, y_test) = boston_housing.load_data()

ValueError: too many values to unpack (expected 2)

In [ ]:
model = Sequential()
model.add(Dense(128, activation='relu', input_shape=(x_train.shape[1],)))
model.add(Dense(1))
model.compile(optimizer='adam', loss='mse', metrics=['mae'])